<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Question</title>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>Who is the best cricketer in the world?</p>
            <form>
                <input type="radio"  id="answerCheckBox1" name="answer" value="sachin tendulkar" /> sachin tendulkar
                <input type="radio"  id="answerCheckBox2" name="answer" value="virat kohli" />virat kohli
                <input type="radio"  id="answerCheckBox3" name="answer" value="adam gilchirst" />adam gilchirst
                <input type="radio"  id="answerCheckBox4" name="answer" value="jacques kallis" />Jacques Kallis
                <button>Next</button>
            </form>
            <script src="/js/firstquestion.js"></script>
        </div>
    </body>
</html>