<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
    </head>
    <body>
        <ul>
            {{#each history}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        
        
    </body>
</html>