<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Welcome</title>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>What is your name?</p>
            <form>
                <input placeholder="Type Your Name here...">
                <button>Next</button>
            </form>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>