<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/styles.css">
        <title>Question</title>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>What are the colors in the Indian national flag?</p>
            <form>
                <input type="checkbox" name="color" value="White" /> White
                <input type="checkbox" name="color" value="Yellow" />Yellow
                <input type="checkbox" name="color" value=" Orange" /> Orange
                <input type="checkbox" name="color" value="Green" />Green
                <button>Next</button>
            </form>
        </div>
        <script src="/js/secondquestion.js"></script>
    </body>
</html>